{% extends 'base.html' %}
﻿{% load i18n %}
{% block content %}

<p id="test">Wybierz gatunek</p>
<form name="myform" id="k1" method="get">
<div align="center"><br>
<input type="radio" name="gatunek" value="Horror" id="r1" onlclick="genere()">Horror
<input type="radio" name="gatunek" value="Akcja" id="r2" onlclick="genere()">Akcja
<input type="radio" name="gatunek" value="Dramat" id="r3" onlclick="genere()">Dramat
    <input type="text" placeholder="Od:" name="od"/>
    <input type="text" placeholder="Do:" name="do2"/>
    <input type="submit" value="OK" />
</div></form>




    <ul>
    {% if LANGUAGE_CODE == 'pl' %}
        {% for movie in movies %}
            {%if movie.year >= od and movie.year <= do2 %}
                {% for m in movie.genre.all %}
                    {% if m.genre == gatunek %}
                        <li><img src="https://dl.dropboxusercontent.com/u/102438243/{{movie.id}}.jpg" width="62" height="80"/><a href="/movies/get/{{ movie.id }}/" class="list_link">{{ movie.title }} ({{ movie.year }})</a></li>

                    {% endif %}
                {% endfor %}
            {%endif%}
        {% endfor %}
    {% else %}
        {% for movie in movies %}
            {%if movie.year >= od and movie.year <= do2 %}
                {% for m in movie.genre.all %}
                    {% if m.genre == gatunek %}
                        <li><a href="/movies/get/{{ movie.id }}/" class="list_link">{{ movie.title_en }} ({{ movie.year }})</a></li>
                    {% endif %}
                {% endfor %}
            {%endif%}
        {% endfor %}
    {% endif %}
    </ul>
{% endblock content %}