{% extends 'base.html' %}
﻿﻿{% load i18n %}
{% block content %}

<script type="text/javascript">
    window.onload = function(){
        document.getElementById("star{{ocena}}").checked=true;
    };
</script>
    <h1>
        {% if LANGUAGE_CODE == 'pl' %}
            {{  movie.title }}
        {% else %}
            {{ movie.title_en }}
        {% endif %}
    </h1>
    <div>
        <p class="attributes">{% trans "Ocena:" %}</p>
        <p><fieldset class="rating">
                <input type="radio" id="star10" name="rating" value="10" onclick="location.href='/movies/get/{{movie.id}}/set_rating/?ocena=10'"/><label for="star10">10 stars</label>
                <input type="radio" id="star9" name="rating" value="9" onclick="location.href='/movies/get/{{movie.id}}/set_rating/?ocena=9'"/><label for="star9">9 stars</label>
                <input type="radio" id="star8" name="rating" value="8" onclick="location.href='/movies/get/{{movie.id}}/set_rating/?ocena=8'"/><label for="star8">8 stars</label>
                <input type="radio" id="star7" name="rating" value="7" onclick="location.href='/movies/get/{{movie.id}}/set_rating/?ocena=7'"/><label for="star7">7 stars</label>
                <input type="radio" id="star6" name="rating" value="6" onclick="location.href='/movies/get/{{movie.id}}/set_rating/?ocena=6'"/><label for="star6">6 star</label>
                <input type="radio" id="star5" name="rating" value="5" onclick="location.href='/movies/get/{{movie.id}}/set_rating/?ocena=5'"/><label for="star5">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" onclick="location.href='/movies/get/{{movie.id}}/set_rating/?ocena=4'"/><label for="star4">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" onclick="location.href='/movies/get/{{movie.id}}/set_rating/?ocena=3'"/><label for="star3">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" onclick="location.href='/movies/get/{{movie.id}}/set_rating/?ocena=2'"/><label for="star2">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" onclick="location.href='/movies/get/{{movie.id}}/set_rating/?ocena=1'"/><label for="star1">1 star</label>
        </fieldset></p><br><br>{{srednia}}
    </div>
    <div>
        <p class="attributes">{% trans "Rok:" %}</p><p>{{ movie.year }}</p>
        <p class="attributes">{% trans "Język:" %}</p>
            <p>
                {% if LANGUAGE_CODE == 'pl' %}
                    {{ movie.language.name }}
                {% else %}
                    {{ movie.language.name_en }}
                {% endif %}
            </p>
        <p class="attributes">{% trans "Gatunek:" %}</p>
        <p>
            {% if LANGUAGE_CODE == 'pl' %}
                {% for m in movie.genre.all %}
                {% if forloop.last %}
                   {{ m.genre }}
                {% else %}
                    {{ m.genre }},
                {% endif %}
                {% endfor %}
            {% else %}
                {% for m in movie.genre.all %}
                {% if forloop.last %}
                   {{ m.genre_en }}
                {% else %}
                    {{ m.genre_en }},
                {% endif %}
                {% endfor %}
            {% endif %}
        </p>
        <p class="attributes">{% trans "Kraj:" %}</p>
        <p>
            {% if LANGUAGE_CODE == 'pl' %}
                {% for m in movie.country.all %}
                {% if forloop.last %}
                   {{ m.name }}
                {% else %}
                    {{ m.name }},
                {% endif %}
                {% endfor %}
            {% else %}
                {% for m in movie.country.all %}
                {% if forloop.last %}
                   {{ m.name_en }}
                {% else %}
                    {{ m.name_en }},
                {% endif %}
                {% endfor %}
            {% endif %}
        </p>
    </div>
    <div>
        {% for d in desc %}
            {% if LANGUAGE_CODE == 'pl' %}
                {% if d.language == 'PL' %}
                    <p>{{ d.description }}</p>
                {% endif %}
            {% else %}
                {% if d.language == 'EN' %}
                    <p>{{ d.description }}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div>
        {% for r in roles.all %}
        <ul class="role_list">
            <p class="attributes">
             {% if LANGUAGE_CODE == 'pl' %}
                 {{ r.role }}
             {% else %}
                 {{ r.role_en }}
             {% endif %}
             </p>
        {% for p in movie_roles.all %}
            {% if p.role == r %}
            {% for person in p.people.all %}
                <li class="role_list_item">
                    <a href="/people/get/{{ person.id }}/" class="list_link">
                        {{ person.last_name }} {{ person.first_name }}
                    </a>
                </li>
            {% endfor %}
            {% endif %}
        {% endfor %}
        </ul>
        {% endfor %}
    </div>
{% endblock content %}