{% extends 'base.html' %}
﻿{% load i18n %}
{% block content %}

<form name="myform" id="k1" class="form-horizontal" method="GET">{% csrf_token %}
    <div align="left" style="margin-top: 20px;">
            {% if LANGUAGE_CODE == 'pl' %}
                {% for b in brands.all %}
                    <input type="radio" name="brand" value="{{ b.name }}" id="b.id">{{ b.name }}
                {% endfor %}
            {% else %}
                {% for b in brands.all %}
                    <input type="radio" name="brand" value="{{ b.name }}" id="b.id">{{ b.name }}
                {% endfor %}
            {% endif %}
            </div>
    <div align="left" style="margin-top: 20px;">
            {% if LANGUAGE_CODE == 'pl' %}
                {% for t in towns.all %}
                    <input type="radio" name="town" value="{{ t.name }}" id="t.id">{{ t.name }}
                {% endfor %}
            {% else %}
                {% for t in towns.all %}
                    <input type="radio" name="town" value="{{ t.name }}" id="t.id">{{ t.name }}
                {% endfor %}
            {% endif %}
            </div>

                <h1><button class="btn-group btn-warning" style="margin-left: 0px; margin-top: 10px" type="submit">OK</button></h1>
        </form>
    <ul>
        {% for cinema in cinemas %}
        <li>
            <a href="/cinemas/get/{{ cinema.id }}/" class="list_link">
                {{cinema.brand}} {{cinema.additionalName}} {{cinema.town}}
            </a>
        </li>
        {%endfor%}
    </ul>
{% endblock content %}