{% extends 'base.html' %}
﻿{% load i18n %}

{% block title %}
    {% trans "Logowanie" %}
{% endblock %}

{% block content %}

    <h2>{% trans "Logowanie" %}</h2>
    <br>
    {% if form.errors %}
        <p class="error">{% trans "Nieprawidłowa nazwa użytkownika lub hasło." %}</p>
    {% endif %}

    <form class="form-horizontal" action="/accounts/auth/" method="post">{% csrf_token %}
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Login:</label>
         <div class="col-xs-4">
            <input class="form-control" type="text" name="username" value="" id="username">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">{% trans "Hasło:" %}</label>
         <div class="col-xs-4">
            <input class="form-control" type="password" name="password" value="" id="password">
        </div>
      </div>
      <div class="form-group col-sm-2 control-label">
        <button type="submit" class="button button_secondary">{% trans "Zaloguj" %}</button>
      </div>
    </form>

{% endblock %}