{% extends 'base.html' %}

{% block content %}

    <h2>Rejestracja</h2>
    <br>
    <form class="form-horizontal" action="/accounts/register/" method="post">{% csrf_token %}
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Login:</label>
         <div class="col-xs-4">
            <p>{{ form.username }}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email:</label>
         <div class="col-xs-4">
            <p>{{ form.email }}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password1" class="col-sm-2 control-label">Hasło:</label>
         <div class="col-xs-4">
            <p>{{ form.password1 }}</p>
         </div>
      </div>
      <div class="form-group">
        <label for="password2" class="col-sm-2 control-label">Powtórz hasło:</label>
         <div class="col-xs-4">
             <p>{{ form.password2 }}</p>
         </div>
      </div>
      <div class="form-group col-sm-2 control-label">
        <button type="submit" class="button button_secondary">Zarejestruj</button>
      </div>
    </form>

{% endblock %}