﻿{% load staticfiles %}
<html>
    <head>
        <title>Filmland</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/filmland.css' %}">
			
    </head>
    <body>
        <div class="wrapper">
        <div class="container">
            <ul class="menu" rel="sam1">
                <li class="active"><a class="menuFont" href="/">FilmLand</a></li>
                <li><a class="menuFont" href="/movies/movie_list">Filmy</a></li>
                <li><a class="menuFont" href="/people/people_list">Aktorzy</a></li>
            </ul>
            <div class="login">
                {% if user.is_authenticated %}
                    <p>Witaj, {{ user.username }}  <a href="/accounts/logout">wyloguj się.</a></p>
                {% else %}
                    <p>Witaj, gościu <a href="/accounts/login">zaloguj się</a> lub <a href="/accounts/register">zarejestruj.</a></p>
                {% endif %}
            </div>
        </div>
        </div>
        <div id="square">
                {% block content %}
                {% endblock %}
        </div>
    </body>
</html>