{% load staticfiles %}
<html>
    <head>
        <title>Filmland</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/filmland.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Filmland</a></h1>
        </div>
        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>