﻿{% load staticfiles %}
<html>
    <head>
        <title>Filmland</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/filmland.css' %}">
    </head>
    <body>
        <div class="wrapper">
        <div class="container">
            <ul class="menu" rel="sam1">
                <li class="active"><a class="menuFont" href="/">FilmLand</a></li>
                <li><a class="menuFont" href="/movies/all">Filmy</a></li>
                <li><a class="menuFont" href="/people/all">Aktorzy</a></li>
            </ul>
            <form action="/search/" method="get" class="searchbar">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Szukaj..." name="search">
                    <div class="input-group-btn">
                        <select class="btn btn-default" id="what_to_search">
                           <option value="all" selected="true">Wszystko</option>
                           <option value="movie">Film</option>
                           <option value="person">Osoba</option>
                         </select>
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search "></span></button>
                    </div>
                </div>
            </form>
            <div class="login">
                {% if user.is_authenticated %}
                    <p>Witaj, {{ user.username }}  <a href="/accounts/logout">wyloguj się.</a></p>
                    {% else %}
                    <p>Witaj, gościu <a href="/accounts/login">zaloguj się</a> lub <a href="/accounts/register">zarejestruj.</a></p>
                {% endif %}
            </div>
        </div>
        </div>
        <div id="square">
                {% block content %}
                {% endblock %}
        </div>
    </body>
</html>