{% extends 'base.html' %}
﻿﻿{% load i18n %}
{% block content %}
    <h1>{{ person.last_name }} {{  person.first_name}}</h1>
    {% if not cover.first == None %}
        <img id="obrazek" src="/media/{% for i in cover %}{{ i }}{% endfor %}" width="250" height="358"/>
    {% endif %}
    <br>
    <div>
        {% for b in bio %}
            {% if LANGUAGE_CODE == 'pl' %}
                {% if b.language == 'PL' %}
                    <p>{{ b.description }}</p>
                {% endif %}
            {% else %}
                {% if b.language == 'EN' %}
                    <p>{{ b.description }}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <div>
    {% for im in images %}
        {% autoescape off %}<a href="/photogallery/person/{{ person.id }}/{{ im.id }}/">{{ im.thumbnail_bigger }}</a>{% endautoescape %}
    {% endfor %}

        {% if not images.first == None %}
            <p style="margin-top: 10px;"><a href="/photogallery/person/{{ person.id }}/{{ images.first.id }}/" class="list_link">{% trans "Więcej" %}...</a></p>
        {% endif %}
    </div>
    <div>
        {% for r in roles.all %}
            <ul class="role_list"><p class="attributes">
                {% if LANGUAGE_CODE == 'pl' %}
                    {{ r.role }}
                {% else %}
                    {{ r.role_en }}
                {% endif %}
            </p>
            {% for m in movie_roles.all %}
                {% if m.role == r %}
                    <li class="role_list_item">
                        <a href="/movies/get/{{ m.movie.id }}/" class="list_link">
                            {% if LANGUAGE_CODE == 'pl' %}
                                {{ m.movie.title }}
                            {% else %}
                                {{ m.movie.title_en }}
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock content %}